.mainDiv{
    margin: auto;
    margin-top: 20px;
    width: 550px;
    height: 650px;
    background-color: rgb(44, 104, 191); 
}

.subDiv{
    margin: auto;
    width: 450px;
    height: 450px;
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 47, 185); 
    height: 150px;
}

.remainingDiv, .statDiv, .resetDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 185, 72);
    width: 30%;
    height: 70%;
    margin: 3%;
    font-size: 200%;
    user-select: none;
}

.resetDiv:active{
    background-color: rgb(212, 155, 70);
}

.resetDiv:hover{
    cursor: pointer;
}

.tile{
    height: 50px;
    width: 50px;
    border-color: black;
    background-color: rgb(26,26,26);
    color: rgb(26,26,26);
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}