.mainDiv{
    margin: auto;
    margin-top: 20px;
    width: 550px;
    height: 650px;
    background-color: aquamarine;
    position: relative;
}

.subDiv{
    background-color: cadetblue;
    margin: auto;
    width: 450px;
    height: 450px;
    
    
}

.tile{
    height: 50px;
    width: 50px;
    border-color: black;
    background-color: #1a1a1a;
    color: #1a1a1a;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    height: 150px;

    .flagsDiv{
        background-color: rgb(71, 136, 136);
        width: 30%;
        height: 70%;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .statDiv{
        background-color: rgb(138, 116, 77);
        width: 30%;
        height: 70%;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .timerDiv{
        background-color: rgb(98, 66, 98);
        width: 30%;
        height: 70%;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}